<div class="page-wrapper">
    <div class="top-actions">
    <button class="back-btn" (click)="goBack()">
     ←
    </button>
   
    <button 
      class="close-btn" 
      *ngIf="showAdd || selectedType"
      (click)="closeForm()">
      Cerrar
    </button>
  </div>
  <div class="page-header">
    <div>
      <h2>Contenidos</h2>
      <p>Administra documentos y textos de esta materia</p>
    </div>

    <button class="primary-btn" (click)="toggleAdd()">
      + Agregar contenido
    </button>
  </div>


  <div class="add-options" *ngIf="showAdd">
    <button (click)="selectType('file')">📄 Documento</button>
    <button (click)="selectType('text')">📝 Texto</button>
  </div>


  <div class="card" *ngIf="selectedType === 'file'">
    <input type="text" placeholder="Título del archivo" #fileTitle />
    <input type="text" placeholder="Tags separados por coma" #fileTags />
    <input type="file" #fileInput />
    <button (click)="uploadFileWithInfo(fileInput, fileTitle, fileTags)">
      Subir archivo
    </button>
  </div>


  <div class="card" *ngIf="selectedType === 'text'">
    <input type="text" placeholder="Título del texto" #textTitle />
    <input type="text" placeholder="Tags separados por coma" #textTags />
    <textarea placeholder="Escribe tu contenido aquí..." #textContent></textarea>
    <button (click)="pasteTextManual(textTitle, textTags, textContent)">
      Guardar texto
    </button>
  </div>


  <div class="content-grid" *ngIf="contents().length > 0">
    <div class="content-card" *ngFor="let c of contents()">

  
      <ng-container *ngIf="editingContentId !== c.id; else editMode">
        <h4>{{ c.title }}</h4>
        <p class="tags" *ngIf="c.tags?.length">
          #{{ c.tags.join(' #') }}
        </p>

        <div class="actions">
          <button (click)="openContent(c)">Ver</button>
          <button *ngIf="c.extractedText" (click)="startEdit(c)">Editar</button>
          <button class="danger" (click)="deleteContent(c)">Eliminar</button>
        </div>
      </ng-container>


      <ng-template #editMode>
        <input type="text" [(ngModel)]="editingTitle" />
        <input type="text" [(ngModel)]="editingTags" />
        <textarea [(ngModel)]="editingText"></textarea>

        <div class="actions">
          <button (click)="saveEditedText(c)">Guardar</button>
          <button class="danger" (click)="cancelEdit()">Cancelar</button>
        </div>
      </ng-template>

    </div>
  </div>


  <div class="empty-card" *ngIf="contents().length === 0">
    <p>No tienes contenidos agregados</p>
  </div>

</div>
