<div class="topbar">
  <div class="topbar-left">
    <button class="menu-btn" (click)="toggleSidebar()">&#9776;</button>

    <img src="imagen/Jaguar.png" alt="logo" class="logo" />
    <span class="app-name">Jaguar Mind</span>
  </div>

  <div class="topbar-right">
    <div
      class="profile"
      routerLink="/dashboard/profile"
      style="cursor: pointer"
      *ngIf="user$ | async as user"
    >
      <img class="avatar" [src]="user.photoURL || 'imagen/Juan Perez.jpg'" />
      <span class="username">{{ user.displayName || user.email || 'Usuario' }}</span>
    </div>

    <div class="profile" *ngIf="!(user$ | async)">
      <img src="imagen/Juan Perez.jpg" class="avatar" />
      <span class="username">Usuario</span>
    </div>
  </div>
</div>
